  .titulo h1{
    font-weight: 700;
    font-size: 47px;
    color: #009688;
    padding: 122px 200px 0px 239px;
    
}
.titulo p{
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    padding: 0 0px 0 239px;
    width: 461px;
    height: 110px;
}
.titulo img{
    padding: 48px 0 0 0;
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.meio{
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    padding: 198px 0 0 173px;
    justify-content: center;
    background: #E5E5E5;
    width: 100%;
}
.articles{
    display: block;
    width: 518px;
    margin-bottom: 100px;
}

.articles img{
    width: 518px;
}

.meio h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FF4081; 
    
}
.meio p{
    font-weight: 300;
    font-size: 17px;
    color: #000000;
    text-transform: lowercase;

}

@media only screen and (max-width: 481px) {
 
   .articles img{
       width: 326px;
   }
   .meio{
       padding: 0;
       justify-content: center;
   }
}