main h1{
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;  
    padding: 0 0 0 50px;
    margin: 11px 0 0 0;
}

.titulo{
    margin-bottom: 95px;
}

.first{
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    margin: 0 0 0 55px;
}

.unico{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 68px;
}

.textos{
    max-width: 724px;

}

section div a{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #419488;
    border-radius: 62px;
    text-decoration: none;
    padding: 15px 50px;
}

section div h2{
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;
}

 section div p{
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

.linhas{
    margin-left: 80px;
    padding-bottom: 100px;
}

.textos p{
    margin-bottom: 53px;
}